body {
    background-image: url("assets/laptop.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    background-color: rgba(144, 144, 170, 0.308);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 4px;
    width: fit-content;
    border-radius: 4px;
}

.main__content {
    align-items: center;
}

.card {
    background-color: rgba(144, 144, 170, 0.308);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 8px;
    /* width: fit-content; */
    border-radius: 8px;
}

.card__container {
    display: grid;
    /* using auto-fill on a wide screen leads to empty columns */
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    grid-gap: 16px;
    margin: 8px;
}
