@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

html, body {
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 27, 29);
    color: whitesmoke;
}

body {
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 4px;
    margin: 8px;
    border-radius: 16px;
    width: fit-content;
    background-color: rgba(144, 144, 170, 0.308);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

h1, h2, h3, h4, h5, h6 {
    margin-left: 10px;
    font-weight: lighter;
}

p {
    margin: 10px;
    line-height: 130%;
}

.nav__item {
    padding: 4px 8px;
    display: inline-block;
    list-style: none;
}

a:after {
    content: '';
    display: block;
    position: relative;
    bottom: -3px;
    left: 0;
    background: lightblue;
    height: 1px;
}

a {
    color: lightblue;
    text-decoration: none;
}

.main__content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.nav__item a:after {
    width: 0%;
    transition: width 300ms ease;
    -webkit-transition: width 300ms ease;
    -moz-transition: width 300ms ease;
}

.nav__item a:hover:after {
    width: 100%;
}

.nav__list {
    margin: 8px;
    padding: 8px;
}

/* .link {
    width: fit-content;
} */

.link:after {
    width: 80%;
    bottom: -10px;
    opacity: 0;
    -webkit-transition: bottom 300ms ease, opacity 300ms ease;
    transition: bottom 300ms ease, opacity 300ms ease, width 300ms ease;
}

.link:hover:after {
    width: 100%;
    opacity: 1;
    bottom: -2px;
}

.link__container {
    display: inline-block;
}
