html, body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.nav__item {
    padding: 1em;
    display: inline-block;
    list-style: none;
}
