html, body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

body {
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    background-color: rgba(0, 0, 2, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

p {
    margin: 10px;
}

.nav__item {
    padding: 1em;
    display: inline-block;
    list-style: none;
}
