html, body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
}

.nav__list {
    display: flex;
    flex-direction: row;
}
